body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    margin: auto;
    display: flex;
    color  : red;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid black;
    overflow: auto;
}

.container > div {
    flex: 1 0 6.25%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #a3a0a0;
}
